<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card " style="width: 100%;">
                <img class="card-img-top" src="../images/asesoria_contable.jpg" alt="Card image cap"
                    style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Asesoría Tributaria Y Fiscal</h5>
                    <p class="card-text">Ayuda con los procesos tributarios y fiscales para pequeñas, medianas empresas
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">Preparación de los formularios para la presentación de impuestos ante las entidades nacionales y distritales.</li>
                        <li class="list-group-item">Brindamos nuestra experiencia en Outsourcing tributario.</li>
                        <li class="list-group-item">Reporte de información exógena nacional y distrital.</li>                        
                    </ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        ver mas...
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Asesoría Tributaria Y Fiscal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <img src="../images/asesoria_contable.jpg" width="100%">
                    <p></p>
                    <ul class="list-group">
                        <li class="list-group-item">Preparación de los formularios para la presentación de impuestos ante las entidades nacionales y distritales.</li>
                        <li class="list-group-item">Brindamos nuestra experiencia en Outsourcing tributario.</li>
                        <li class="list-group-item">Reporte de información exógena nacional y distrital.</li>    
                        <li class="list-group-item">Análisis permanente de la estructura tributaria de la empresa a fin de lograr la aplicación de beneficios fiscales y creación de rutinas de evaluación de riesgos y contingencias de los diferentes impuestos que aplican a las sociedades.</li>
                        <li class="list-group-item">Elaboración y calculo declaraciones de Retención en la Fuente a Título de Timbre, Ventas y Renta, ICAS, Retención de ICA</li>
                        <li class="list-group-item">Preparación de la información necesaria para dar respuesta de posibles requerimientos por parte de las autoridades de impuestos y presentación de informes que requieran las entidades de control fiscal.</li>
                        <li class="list-group-item">Solicitud de compensaciones y/o saldos a favor</li>
                        <li class="list-group-item">Elaboración de las declaraciones de renta personas naturales y jurídicas</li>
                        
                    </ul>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</body>

</html>