<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card " style="width: 100%;">
                <img class="card-img-top" src="../images/tramites.jpg" alt="Card image cap" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Diligencias y tramites</h5>
                    <p class="card-text"></p>
                    <ul class="list-group">
                        <li class="list-group-item">Procesos administrativos.</li>
                       
                        
                    </ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#procesosAdministrativos">
                        ver mas..
                    </button>
                   
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="procesosAdministrativos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Procesos administrativos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top" src="../images/tramites.jpg" alt="Card image cap" style="width: 100%;">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                            <li data-target="#demo" data-slide-to="3"></li>
                            <li data-target="#demo" data-slide-to="4"></li>
                            <li data-target="#demo" data-slide-to="5"></li>
                            <li data-target="#demo" data-slide-to="6"></li>
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h3>
                                    Carpeta de Apertura Comercial Ley 1801 2016 Artículo 87.

                                    <ul class="list-group">
                                        <li class="list-group-item">RUT</li>
                                        <li class="list-group-item">Cámara y Comercio</li>
                                        <li class="list-group-item">Inscripción, Solicitud y Acompañamiento en Visita de Secretaría de Salud</li>
                                        <li class="list-group-item">Secretaría de Planeación: Uso de suelo</li>
                                        <li class="list-group-item">Sayco y Acímpro</li>
                                        <li class="list-group-item">Bomberos</li>
                                        <li class="list-group-item">RIT</li>
                                        <li class="list-group-item">Inscripción policía nacional, Establecimientos de comercio.
                                        </li>
                                    </ul>
                                </h3>
                            </div>
                            <div class="carousel-item ">
                                <h3>
                                    Secretaría de Medio ambiente.

                                    <ul class="list-group">
                                        <li class="list-group-item">Plataforma de llantas
                                        </li>
                                        <li class="list-group-item">Registro de productores de residuos sólidos</li>
                                        <li class="list-group-item">Inscripción, Solicitud y Acompañamiento en Visita de Secretaría de Salud</li>
                                        <li class="list-group-item">Registro de avisos y tableros</li>
                                        <li class="list-group-item">Elaboración plan de contingencia
                                        </li>

                                    </ul>
                                </h3>
                            </div>
                            <div class="carousel-item ">
                                <h3>
                                    Plan de Saneamiento Básico.

                                    <ul class="list-group">
                                        <li class="list-group-item">Limpieza y Desinfección

                                        </li>
                                        <li class="list-group-item">Recolección de Residuos Solidos
                                        </li>
                                        <li class="list-group-item">Presencia de plagas
                                        </li>


                                    </ul>
                                </h3>
                            </div>


                        </div>
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    
</body>

</html>