<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card " style="width: 100%;">
                <img class="card-img-top" src="../images/asesoria_contable.jpg" alt="Card image cap"
                    style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Soporte Tecnológico</h5>
                    <p class="card-text">Nuestras opciones de soporte a nustros clientes.</p>
                    <ul class="list-group">
                        <li class="list-group-item">Contamos con un grupo de Ingenieros en sistemas en diferentes ramas.</li>
                        <li class="list-group-item">En Outsourcing estamos en la capacidad de dar soporte, implementar y desarrollar los diferentes requerimientos de las organizaciones.</li>                                       
                    </ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4">
                        ver mas...
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <img src="../images/asesoria_contable.jpg" width="100%">
                    <p></p>
                    <ul class="list-group">
                        <li class="list-group-item">Contamos con un grupo de Ingenieros en sistemas en diferentes ramas.</li>
                        <li class="list-group-item">En Outsourcing estamos en la capacidad de dar soporte, implementar y desarrollar los diferentes requerimientos de las organizaciones.</li>                                     
                        <li class="list-group-item">Soportes en softwares contables.</li>
                        <li class="list-group-item">Implementación, codificación e implementación del proceso de inventario.</li>
                        <li class="list-group-item">Desarrollo de soluciones integrales en computación móvil, captura automatizada de datos y administración de la información, Nuestros servicios van dirigidos a empresas de Industria, Retail, Servicios y Transporte y Logística.</li>
                        
                    </ul>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</body>

</html>